/* Chart Header */
/*
.dropdown{
    position: relative;
    margin: auto;
}
*/

#chart_header{
    position: inline;
    margin-bottom: 10px;
}

/* Chart Area */
#chart_box{
    overflow: visible;
    position: relative;

    align-items: center;

    height: 600px;
    width: 100%;

    margin-bottom: 20px;

    border: 1px solid black;
}

#compare_box {
    height: 300px;
}


#country_select {
    margin-bottom: 30px;
}
/* Country compare */
/*
#compare_box{
    position: relative;
    height: 400px;
    margin: auto;
    width: 100%;


    text-align: left;
    border: 1px solid black;
}

.compare_container{
    display: inline-block;
    position: relative;
    height: 100%;
    width: 50%;
    float: left;
    text-align: center;

    margin: 25px;
}

.mini_chart{
    position: relative;
    border: 1px solid black;
    width: 100%;
    height: 70%
}


.single_chart{
    display: inline-block;
    width: 100%;
    flex: 1;
}
*/

.background {
    background-attachment: fixed;
    background-image: url(../../images/world_map.png);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    height: 700px;
}

.single_chart{
    height: 400px;
}


.compare_container{
    
    text-align: center;
}

/* colors for bars */
.shade1 {
    fill: blue;
}
.shade2 {
    fill: red;
}
.shade3 {
    fill: green;
}
