<nav class="navbar navbar-static-top navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="index.php">Past ISSLP Participants</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="update_student.php">Add Student</a></li>
            <li><a href="search_student.php">Search Students</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Visualize Data
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="hdi_map.php">HDI vs. International Service</a></li>
                    <li><a href="indicators_chart.php">Foreign Aid vs. GDP</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
