/*** ADVANCED FUNC 1 ***/
body{
    overflow: visible;
    padding-bottom: 10px;
}

h1{
    margin: 0px;
}

h3{
    margin-top: 0px;
    margin-bottom: 0px;
}

#info_box{
    text-align: center;
}

/* -- Map Legend -- */
#map_legend{
    min-height: 1.5em;
    text-align: center;
    vertical-align: middle;
    display: flex;
    margin-top: 20px;

    align-items: center;
    justify-content: center;

    border: 5px double grey;
    border-left: none;
    border-right: none;

    padding-right: 5px;
    background-color: white;
}

.map_legend_elem{
    display: inline-block;
    vertical-align: middle;
    min-height: 1.5em;
    min-width: 1.5em;
}

.legend_h2{
    vertical-align: middle;
    margin: 0;
    font-size: 1em;
}

/* -- Map Container -- */
#map_box{
    overflow: scroll;
    margin: auto;
    width: 100%;

    position: relative; 

    border-top: black solid 2px;
    border-bottom: black solid 2px;
    background-color: white;
}

/* -- Map Info -- */
.map_elem_container{
    text-align: center;
    align-items: top;
    display: flex;
    width: 100%;
    min-height: 4em;
    margin-bottom: 50px;
}

.map_elem_subcontainer{
    text-align: center;
    align-items: center;
    display: inline-block;
    flex: 1;
    min-width: 200px;
    vertical-align: top;
    border: black solid 1px;
}

.map_elem_subcontainer_center{
    flex: 2;
}

.map_h1{
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 2em;
}

.map_h2{
    margin: 0;
    font-weight: bold;
}

.map_elem_name{
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 2em; 
    font-weight: normal;
}

.map_value{
    padding: 0;
    text-align: center;
    align-items: center;
    font-weight: normal;
    min-height: 2em;
    display: inline;
    vertical-align: top;
}


/* -- Texture Storage -- */

#textures{
    height: 0;
}
