.glass::before {
    z-index: 1;
    display: block;
    position: absolute;
    content: ' ';

    width: 100%;
    height: 100%;
    overflow: hidden;


    background-image: url('../images/world_map.png'); 
    -webkit-filter: url('#blur');
    filter: url('#blur');
    -webkit-filter: blur(10px);
    filter: blur(5px);
    background-size: cover;
    opacity: 0.8;
}

.glass {
    position: relative;
}

.jumbotron{
    position: relative;
    z-index: 0;
}

.jumbotron-text{
    position: relative;
    z-index: 0;
}

h1{
    position: relative;
    z-index: 2;
}
