body {
    background-attachment: fixed;
    background-image: url(../images/world_map.png);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    height: 700px;
} 

.jumbotron-text {
    margin-top: 0px;
    margin-bottom: 50px;
}
.jumbotron {
    background-color: #E3EEEC;
    border-top: 2px black solid;
    border-bottom: 2px black solid;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 50px;
    margin-bottom: 200px; 
} 

html {
    height: 100%;
}

body {
    height: 100%;
}

.center-col-form {
    background-color: #E3EEEC;
    margin-top: 60px;
    margin-bottom: 60px;
    border: black solid 2px;
    padding-bottom: 20px;
}
