body {
    background-attachment: fixed;
    background-image: url(../images/world_map.png);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    height: 700px;
} 

.jumbotron-text {
    margin-top: 200px;
    margin-bottom: 50px;
}
.jumbotron {
    background-color: #E3EEEC;
    border-top: 2px black solid;
    border-bottom: 2px black solid;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 100px;
    margin-bottom: 100px; 
} 

html {
    height: 100%;
}

body {
    height: 100%;
}

h3 {
    margin-top: 0px;
}
