body {
    background-color: #E3EEEC;
} 

.jumbotron-text {
    margin-top: 200px;
    margin-bottom: 50px;
}
.jumbotron {
    background-attachment: fixed;
    background-image: url(../images/world_map.png);
    background-position: 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    border-top: 2px black solid;
    border-bottom: 2px black solid;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 0px;
    margin-bottom: 0px; 
    border-radius: 0px;
} 

html {
    height: 100%;
}

body {
    height: 100%;
}

.center-col-form {
    background-color: #E3EEEC;
    margin-top: 0px;
    margin-bottom: 60px;
    border: black solid 2px;
}

.msg {
    padding-top: 30px;
}
