body {
    overflow-x: hidden;
    background-color: #E3EEEC;
    font-family: 'Nunito Sans', sans-serif;
    padding-top: 50px;
    padding-bottom: 100px;
}


h1 {
    margin: 25px;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 4em; 
    font-weight: bold;
}

h2 {
    margin: 1em 0;
    padding: 0;
    text-transform: uppercase;
    text-align: center;
    font-size: 2em; 
    font-weight: bold;
}

h3 {
    margin: 1em 0; 
    padding: 0;
    text-align: center;
    font-size: 20px; 
    font-weight: bold;
}

p {
    text-align:center;
    margin: 0 0 15px;
    padding: 0;
}

form {
    text-align: center;
}

legend {
    text-transform: uppercase;
    text-align: center;
    margin: 1em;
}

.table {
    background-color: white;
}

.back-button {
    padding-top: 20px;
}

.btn-default {
    background-color: #63e1c4;
    color: #f8f8f8;
}

.btn-default:visited {
    background-color: #63e1c4;
    color: #f8f8f8;
}

.btn-default:hover {
    background-color: #2DD6AF;
    color: white;
}

.btn-default:active {
    background-color: #63e1c4;
    color: #f8f8f8;
}

.btn-default:active:focus {
    background-color: #63e1c4;
    color: #f8f8f8;
}

.btn-default:focus {
    background-color: #63e1c4;
    color: #f8f8f8;
}

.btn-default, .btn-default:hover, .btn-default:active, .btn-default:visited, .btn-default:active:focus, .btn-default:focus {
    border: solid 1px gray;
    border-radius: 15px;
    text-transform: uppercase;
    
}

.btn-success {
    background-color: #63e1c4;
    color: #f8f8f8;
}

.btn-success:visited {
    background-color: #63e1c4;
    color: #f8f8f8;
}

.btn-success:hover {
    background-color: #2DD6AF;
    color: white;
}

.btn-success:active {
    background-color: #63e1c4;
    color: #f8f8f8;
}

.btn-success:active:focus {
    background-color: #63e1c4;
    color: #f8f8f8;
}

.btn-success:focus {
    background-color: #63e1c4;
    color: #f8f8f8;
}

.btn-success, .btn-success:hover, .btn-success:active, .btn-success:visited .btn-success:active:focus, .btn-success:focus {
    border: solid 1px gray;
    border-radius: 15px;
}

.btn-danger {
    background-color: #fd778f;
    color: #f8f8f8;
}

.btn-danger:visited {
    background-color: #fd778f;
    color: #f8f8f8;
}

.btn-danger:hover {
    background-color: #FD5674;
    color: white;
}

.btn-danger:active {
    background-color: #fd778f;
    color: #f8f8f8;
}

.btn-danger:active:focus {
    background-color: #fd778f;
    color: #f8f8f8;
}

.btn-danger:focus {
    background-color: #FD5674; 
    color: #f8f8f8;
}

.btn-danger, .btn-danger:hover, .btn-danger:active, .btn-danger:visited, .btn-danger:active:focus, .btn-danger:focus {
    border: solid 1px gray;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
